@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container1 a {
    color: white;
    margin: 15px;
}
.container1 h3 {
    text-align: left;
}
.container1 {
    color: white;
    margin-bottom: 50px;
    height: 500px;
    background-image: url(../../assets/emre-gencer-NZMeJsrMC8U-unsplash.jpg);
    background-repeat: no-repeat;
}

.space {
    width: auto;
    height: 3px;
    background-color: black;
}

.text {
    margin-top: 100px;
}

nav {
    text-align: right;
    margin: 30px;
}

@media screen and (max-width: 500px) {
    .container1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container1 a {
        text-align: center;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .text {
        color: black;
        margin: 1px;
    }

    h3 {
        margin: auto;
        text-align: center;
    }
}
